WebApiExample/WsdlExample/Service References/EntityChangeService/EntityChanges5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/EleWise.ELMA.API.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EleWise.ELMA.API.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://bpm-demo.impeltech.ru/API/EntityChanges?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://bpm-demo.impeltech.ru/API/EntityChanges?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Changes">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Deleted" nillable="true" type="q1:ArrayOflong" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Now" type="xs:dateTime" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Updated" nillable="true" type="q2:ArrayOflong" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Changes" nillable="true" type="tns:Changes" />
  <xs:complexType name="SyncChanges">
    <xs:sequence>
      <xs:element minOccurs="0" name="EQL" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="List" nillable="true" type="q3:ArrayOflong" />
      <xs:element minOccurs="0" name="Now" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TypeUid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SyncChanges" nillable="true" type="tns:SyncChanges" />
</xs:schema>