WebApiExample/WsdlExample/Service References/EntityChangeService/EntityChanges51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EleWise.ELMA.Services.Public" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EleWise.ELMA.Services.Public" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PublicServiceException">
    <xs:sequence>
      <xs:element minOccurs="0" name="InnerException" nillable="true" type="tns:PublicServiceException" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PublicServiceException" nillable="true" type="tns:PublicServiceException" />
</xs:schema>