WebApiExample/WsdlExample/Service References/AuthorizationService/Authorization42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.elma-bpm.ru/api/" elementFormDefault="qualified" targetNamespace="http://www.elma-bpm.ru/api/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://bpm-demo.impeltech.ru/API/Authorization?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EleWise.ELMA.API.Models" />
  <xs:import schemaLocation="http://bpm-demo.impeltech.ru/API/Authorization?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="Version">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApiVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="allServices" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApiVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EleWise.ELMA.API.Models" minOccurs="0" name="ApiVersionResult" nillable="true" type="q1:ApiVersion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServerTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServerTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServerTimeResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServerTimeUTC">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServerTimeUTCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServerTimeUTCResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="token" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EleWise.ELMA.API.Models" minOccurs="0" name="CheckTokenResult" nillable="true" type="q3:Auth" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginWithBasic">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginWithBasicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EleWise.ELMA.API.Models" minOccurs="0" name="LoginWithBasicResult" nillable="true" type="q4:Auth" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginWithUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginWithUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EleWise.ELMA.API.Models" minOccurs="0" name="LoginWithUserNameResult" nillable="true" type="q5:Auth" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginWithSSPI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticket" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginWithSSPIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EleWise.ELMA.API.Models" minOccurs="0" name="LoginWithSSPIResult" nillable="true" type="q6:Auth" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TemporaryGuid">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TemporaryGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="TemporaryGuidResult" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPermissions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EleWise.ELMA.API.Models" minOccurs="0" name="requestList" nillable="true" type="q8:ArrayOfCheckPermissionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPermissionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EleWise.ELMA.API.Models" minOccurs="0" name="CheckPermissionsResult" nillable="true" type="q9:ArrayOfCheckPermissionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>