WebApiExample/WsdlExample/Service References/EntityService/Entity1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.elma-bpm.ru/api/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.elma-bpm.ru/api/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.elma-bpm.ru/api/Imports">
      <xsd:import schemaLocation="http://bpm-demo.impeltech.ru/API/Entity?xsd=xsd0" namespace="http://www.elma-bpm.ru/api/" />
      <xsd:import schemaLocation="http://bpm-demo.impeltech.ru/API/Entity?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/EleWise.ELMA.Services.Public" />
      <xsd:import schemaLocation="http://bpm-demo.impeltech.ru/API/Entity?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://bpm-demo.impeltech.ru/API/Entity?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EleWise.ELMA.Common.Models" />
      <xsd:import schemaLocation="http://bpm-demo.impeltech.ru/API/Entity?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EleWise.ELMA.Common.Models.API" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEntityService_Load_InputMessage">
    <wsdl:part name="parameters" element="tns:Load" />
  </wsdl:message>
  <wsdl:message name="IEntityService_Load_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_Load_PublicServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/EleWise.ELMA.Services.Public" name="detail" element="q1:PublicServiceException" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadTree_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadTree" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadTree_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadTreeResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_LoadTree_PublicServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/EleWise.ELMA.Services.Public" name="detail" element="q2:PublicServiceException" />
  </wsdl:message>
  <wsdl:message name="IEntityService_Count_InputMessage">
    <wsdl:part name="parameters" element="tns:Count" />
  </wsdl:message>
  <wsdl:message name="IEntityService_Count_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_Count_PublicServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/EleWise.ELMA.Services.Public" name="detail" element="q3:PublicServiceException" />
  </wsdl:message>
  <wsdl:message name="IEntityService_Query_InputMessage">
    <wsdl:part name="parameters" element="tns:Query" />
  </wsdl:message>
  <wsdl:message name="IEntityService_Query_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_Query_PublicServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/EleWise.ELMA.Services.Public" name="detail" element="q4:PublicServiceException" />
  </wsdl:message>
  <wsdl:message name="IEntityService_QueryTree_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryTree" />
  </wsdl:message>
  <wsdl:message name="IEntityService_QueryTree_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryTreeResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_QueryTree_PublicServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/EleWise.ELMA.Services.Public" name="detail" element="q5:PublicServiceException" />
  </wsdl:message>
  <wsdl:message name="IEntityService_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IEntityService_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_Insert_PublicServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/EleWise.ELMA.Services.Public" name="detail" element="q6:PublicServiceException" />
  </wsdl:message>
  <wsdl:message name="IEntityService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IEntityService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IEntityService_Update_PublicServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/EleWise.ELMA.Services.Public" name="detail" element="q7:PublicServiceException" />
  </wsdl:message>
  <wsdl:portType name="IEntityService">
    <wsdl:documentation>
      <summary>Сервис для получения записей сущностей</summary>
    </wsdl:documentation>
    <wsdl:operation name="Load">
      <wsdl:documentation>
        <summary>Получить сущность по типу и идентификатору</summary>
        <returns>Универсальный объект WebData</returns>
        <param name="typeuid">Идентификатор типа сущности</param>
        <param name="entityid">Идентификатор объекта. Int64 или Guid</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.elma-bpm.ru/api/IEntityService/Load" message="tns:IEntityService_Load_InputMessage" />
      <wsdl:output wsaw:Action="http://www.elma-bpm.ru/api/IEntityService/LoadResponse" message="tns:IEntityService_Load_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.elma-bpm.ru/api//LoadPublicServiceExceptionFault" name="PublicServiceExceptionFault" message="tns:IEntityService_Load_PublicServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadTree">
      <wsdl:documentation>
        <summary>Получить сущность по типу и идентификатору</summary>
        <returns>Универсальный объект WebData</returns>
        <param name="typeuid">Идентификатор типа сущности</param>
        <param name="entityid">Идентификатор объекта. Int64 или Guid</param>
        <param name="select">Список выбираемых свойств, в формате OData v3 $select</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.elma-bpm.ru/api/IEntityService/LoadTree" message="tns:IEntityService_LoadTree_InputMessage" />
      <wsdl:output wsaw:Action="http://www.elma-bpm.ru/api/IEntityService/LoadTreeResponse" message="tns:IEntityService_LoadTree_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.elma-bpm.ru/api//LoadTreePublicServiceExceptionFault" name="PublicServiceExceptionFault" message="tns:IEntityService_LoadTree_PublicServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Count">
      <wsdl:documentation>
        <summary>Получить количество сущностей данного типа</summary>
        <returns>Количество объектов в системе</returns>
        <param name="typeuid">Идентификатор типа сущности</param>
        <param name="eqlQuery">Запрос на языке EQL. Может быть пустой</param>
        <param name="filterProviderUid">Уникальный идентификатор провайдера фильтрации</param>
        <param name="filterProviderData">Данные для провайдера фильтрации</param>
        <param name="filter">Значения полей для фильтра сущности в формате: Property1:Значение1,Property2:Значение2
Наименование свойства возможно задавать с точкой (.) для получения доступа к подсвойству: Property1.Property2:Значение1
Для указания в значении свойства символа : (двоеточие), \ (обратный слэш) или , (запятая), его нужно экранировать черз \ (обратный слэш)</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.elma-bpm.ru/api/IEntityService/Count" message="tns:IEntityService_Count_InputMessage" />
      <wsdl:output wsaw:Action="http://www.elma-bpm.ru/api/IEntityService/CountResponse" message="tns:IEntityService_Count_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.elma-bpm.ru/api//CountPublicServiceExceptionFault" name="PublicServiceExceptionFault" message="tns:IEntityService_Count_PublicServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Query">
      <wsdl:documentation>
        <summary>Получить все сущности данного типа, отфильтрованные по запросу</summary>
        <returns>Массив объектов WebData</returns>
        <param name="typeuid">Идентификатор типа сущности</param>
        <param name="eqlQuery">Запрос на языке EQL. Может быть пустой</param>
        <param name="sort">Сортировка</param>
        <param name="limit">Количество элементов</param>
        <param name="offset">Начальный элемент</param>
        <param name="filterProviderUid">Уникальный идентификатор провайдера фильтрации</param>
        <param name="filterProviderData">Данные для провайдера фильтрации</param>
        <param name="filter">Значения полей для фильтра сущности в формате: Property1:Значение1,Property2:Значение2
Наименование свойства возможно задавать с точкой (.) для получения доступа к подсвойству: Property1.Property2:Значение1
Для указания в значении свойства символа : (двоеточие), \ (обратный слэш) или , (запятая), его нужно экранировать черз \ (обратный слэш)</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.elma-bpm.ru/api/IEntityService/Query" message="tns:IEntityService_Query_InputMessage" />
      <wsdl:output wsaw:Action="http://www.elma-bpm.ru/api/IEntityService/QueryResponse" message="tns:IEntityService_Query_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.elma-bpm.ru/api//QueryPublicServiceExceptionFault" name="PublicServiceExceptionFault" message="tns:IEntityService_Query_PublicServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryTree">
      <wsdl:documentation>
        <summary>Получить все сущности данного типа, отфильтрованные по запросу</summary>
        <returns>Массив объектов WebData</returns>
        <param name="typeuid">Идентификатор типа сущности</param>
        <param name="eqlQuery">Запрос на языке EQL. Может быть пустой</param>
        <param name="select">Список выбираемых свойств, в формате OData v3 $select</param>
        <param name="sort">Сортировка</param>
        <param name="limit">Количество элементов</param>
        <param name="offset">Начальный элемент</param>
        <param name="filterProviderUid">Уникальный идентификатор провайдера фильтрации</param>
        <param name="filterProviderData">Данные для провайдера фильтрации</param>
        <param name="filter">Значения полей для фильтра сущности в формате: Property1:Значение1,Property2:Значение2
Наименование свойства возможно задавать с точкой (.) для получения доступа к подсвойству: Property1.Property2:Значение1
Для указания в значении свойства символа : (двоеточие), \ (обратный слэш) или , (запятая), его нужно экранировать черз \ (обратный слэш)</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.elma-bpm.ru/api/IEntityService/QueryTree" message="tns:IEntityService_QueryTree_InputMessage" />
      <wsdl:output wsaw:Action="http://www.elma-bpm.ru/api/IEntityService/QueryTreeResponse" message="tns:IEntityService_QueryTree_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.elma-bpm.ru/api//QueryTreePublicServiceExceptionFault" name="PublicServiceExceptionFault" message="tns:IEntityService_QueryTree_PublicServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:documentation>
        <summary>Сохранить новый объект в системе. Для обновления используйте метод Update</summary>
        <returns>Идентификатор сохраненного объекта</returns>
        <param name="typeuid">Идентификатор типа сущности</param>
        <param name="entityData">Данные объекта в формате WebData</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.elma-bpm.ru/api/IEntityService/Insert" message="tns:IEntityService_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://www.elma-bpm.ru/api/IEntityService/InsertResponse" message="tns:IEntityService_Insert_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.elma-bpm.ru/api//InsertPublicServiceExceptionFault" name="PublicServiceExceptionFault" message="tns:IEntityService_Insert_PublicServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:documentation>
        <summary>Обновить существующий объект в системе. Для добавления используйте метод Insert</summary>
        <returns>Идентификатор сохраненного объекта</returns>
        <param name="typeuid">Идентификатор типа сущности</param>
        <param name="entityid">Идентификатор объекта. Int64 или Guid</param>
        <param name="entityData">Данные объекта в формате WebData</param>
      </wsdl:documentation>
      <wsdl:input wsaw:Action="http://www.elma-bpm.ru/api/IEntityService/Update" message="tns:IEntityService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://www.elma-bpm.ru/api/IEntityService/UpdateResponse" message="tns:IEntityService_Update_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.elma-bpm.ru/api//UpdatePublicServiceExceptionFault" name="PublicServiceExceptionFault" message="tns:IEntityService_Update_PublicServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding-ELMA_IEntityService" type="tns:IEntityService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Load">
      <soap:operation soapAction="http://www.elma-bpm.ru/api/IEntityService/Load" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PublicServiceExceptionFault">
        <soap:fault use="literal" name="PublicServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LoadTree">
      <soap:operation soapAction="http://www.elma-bpm.ru/api/IEntityService/LoadTree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PublicServiceExceptionFault">
        <soap:fault use="literal" name="PublicServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Count">
      <soap:operation soapAction="http://www.elma-bpm.ru/api/IEntityService/Count" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PublicServiceExceptionFault">
        <soap:fault use="literal" name="PublicServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap:operation soapAction="http://www.elma-bpm.ru/api/IEntityService/Query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PublicServiceExceptionFault">
        <soap:fault use="literal" name="PublicServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="QueryTree">
      <soap:operation soapAction="http://www.elma-bpm.ru/api/IEntityService/QueryTree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PublicServiceExceptionFault">
        <soap:fault use="literal" name="PublicServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://www.elma-bpm.ru/api/IEntityService/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PublicServiceExceptionFault">
        <soap:fault use="literal" name="PublicServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://www.elma-bpm.ru/api/IEntityService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PublicServiceExceptionFault">
        <soap:fault use="literal" name="PublicServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>